<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>EMPLOYEE MANAGEMENT SYSTEM</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">


</head>
<body>
	<div class="container my-4">
		<h1 class="display-4" align="center">EMPLOYEE MANAGEMENT SYSTEM</h1>
		<hr>
		<h1 align="center">Employees List</h1>
		<br> <a th:href="@{/showNewEmployeeForm}" class="btn btn-primary">Add
			Employee</a><br>
		<br>
		<table class="table  table-hover table-responsive-md">
			<thead >
				<tr>
					<th>Employee First Name</th>
					<th>Employee Last Name</th>
					<th>Email ID</th>
					<th></th>
					<th>Actions</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:if="${listEmployees.empty}">
					<td rowspan="5" align="center">No Employees</td>
				</tr>
				<tr th:each="employee : ${listEmployees}">
					<td th:text="${employee.firstName}"></td>
					<td th:text="${employee.lastName}"></td>
					<td th:text="${employee.email}"></td>
					<td><a th:href="@{/showFormForUpdate/{id}(id=${employee.id})}" class="btn btn-primary">Update</a></td>
					<td><a th:href="@{/deleteEmployee/{id}(id=${employee.id})}" class="btn btn-danger">Delete</a></td>
				
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>